@using PE.HMIWWW.Core.HtmlHelpers
@using PE.HMIWWW.Core.Resources
@model PE.HMIWWW.Areas.MillConfigurator.ViewModels.AssetTemplate.VM_AssetTemplate
@{
  Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}

@section module_menu
  {
  @Html.ImageButton("add_asset", "createAssetTemplate()", false, "NAME_CreateAssetTemplate")
  @Html.ImageButton("add_area", "createAreaTemplate()", false, "NAME_CreateAreaTemplate")
  @Html.ImageButton("add_feature", "templatesAssignment()", false, "NAME_AssignTemplates")
  @Html.ImageButton("edit", "editAssetTemplate()", false, "NAME_EditAssetTemplate")
  @Html.ImageButton("clone", "cloneAssetTemplate()", false, "NAME_CloneAssetTemplate")
  @Html.ImageButton("delete", "deleteAssetTemplate()", false, "NAME_DeleteAssetTemplate")
}

  <div class="container-fluid p-3">
    <div class="row">
      <div class="col-3 grid-filter" id="AssetTemplateSearchGrid">
        @await Html.PartialAsync("~/Areas/MillConfigurator/Views/AssetTemplate/_AssetTemplateSearchGrid.cshtml", Model)
      </div>
      <div class="col-9 element-details" id="AssetTemplateDetails">
        <div class="row justify-content-center plug">
          <div class="col-6 align-self-center">
            <img src="~/css/Shared/plug.png" />
            <p class="mt-5 plug-info">@VM_Resources.INFO_SelectPlugInfo</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="~/bundles/css/Module/MillConfigurator.css" />
  <script src="~/bundles/js/Module/AssetTemplate.js"></script>
