@model PE.HMIWWW.ViewModel.Module.Lite.Delay.VM_Delay
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

<form asp-controller="Delays" asp-action="UpdateDelayAsync" data-ajax="true" data-ajax-method="POST"
      data-ajax-begin="OnFormBegin" data-ajax-success="OnFormSuccess" data-ajax-failure="OnFormError"
      class="container-fluid" target="formContainer" role="form" id="form">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    <div class="row form-group">
        <div class="col-5 text-right align-self-center">
            <label>@Html.LabelFor(x => x.EventStartTs)</label>
        </div>
        <div class="col-7">
            @Html.Kendo().DateTimePickerFor(x => x.EventStartTs).Format(VM_Resources.GLOB_LongDateTime_FORMAT_Picker).HtmlAttributes(new {@class = "form-control form-control-sm"})
            @Html.ValidationMessageFor(x => x.EventStartTs)
        </div>
    </div>

    <div class="row form-group">
        <div class="col-5 text-right align-self-center">
            <label>@Html.LabelFor(x => x.EventEndTs)</label>
        </div>
        <div class="col-7">
            @Html.Kendo().DateTimePickerFor(x => x.EventEndTs).Format(VM_Resources.GLOB_LongDateTime_FORMAT_Picker).HtmlAttributes(new {@class = "form-control form-control-sm"})
            @Html.ValidationMessageFor(x => x.EventEndTs)

        </div>
    </div>

    <div class="row form-group">
        <div class="col-5 text-right align-self-center">
            <label>@Html.LabelFor(x => x.UserComment)</label>
        </div>
        <div class="col-7">
            @Html.Kendo().TextBoxFor(x => x.UserComment).HtmlAttributes(new {@class = "form-control form-control-sm"})
        </div>
    </div>

    <div class="row form-group">
        <div class="col-5 text-right align-self-center">
            <label>@Html.LabelFor(x => x.IsPlanned)</label>
        </div>
        <div class="col-7 mt-1">
            @Html.Kendo().CheckBoxFor(x => x.IsPlanned).HtmlAttributes(new {@class = "form-control"}).Label(string.Empty)
        </div>
    </div>

    <div class="row form-group">
        <div class="col-5 text-right align-self-center">
            <label>@Html.LabelFor(x => x.DelayCatalogue)</label>
        </div>
        <div class="col-7">
            @(Html.Kendo().DropDownListFor(x => x.FkEventCatalogueId)
              .DataTextField("Text")
              .DataValueField("Value")
              .HtmlAttributes(new { @class = "form-control form-control-sm" })
              .BindTo(new SelectList(@ViewBag.CatalogueList, "Id", "Code"))
              .OptionLabel("-")
            )
        </div>
    </div>

    <hr/>

    <div class="row form-group">
        <div class="col text-right">
            <button class="btn btn-primary popup_button" type="submit">
                @VM_Resources.GLOB_Form_Button_Update
            </button>
        </div>
    </div>
</form>

<script>
    $(function () {
        $("#form").kendoValidator().data("kendoValidator");
    });
</script>
