@{
  ViewBag.Title = "TITLE";
  Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}

@using PE.BaseDbEntity.EnumClasses;
@using PE.DbEntity.EnumClasses;

@section module_menu
{
<div id="laneProd" class="demo-section k-content mr-3 track-status">
  <div class="status-label">@VM_Resources.NAME_LaneStopped:</div>
  <input type="checkbox" id="laneProdBtn" aria-label="Switch" />
</div>
<div id="slowProd" class="demo-section k-content mr-3 track-status">
  <div class="status-label">@VM_Resources.NAME_SlowProduction:</div>
  <input type="checkbox" id="slowProdBtn" aria-label="Switch" />
</div>

  @Html.ImageButton("schedule", "goToSchedule()", false, "NAME_ProductionSchedule")
  @Html.ImageButton("past", "redirectToProduction()", false, "NAME_ProductionHistory")
  @Html.ImageButton("charge", "_TrackingActions.ChargeIntoChargingGridAction()", false, "BUTTON_ChargeIntoChargingGrid")
  @Html.ImageButton("uncharge", "_TrackingActions.UnchargeFromChargingGridAction()", false, "BUTTON_UnchargeFromChargingGrid")
  @Html.ImageButton("furnace_charge", "_TrackingActions.ChargeIntoFurnaceAction()", false, "BUTTON_ChargeIntoFurnace")
  @Html.ImageButton("furnace_discharge", "_TrackingActions.UnchargeFromFurnaceAction()", false, "BUTTON_UnchargeFromFurnace")
  @Html.ImageButton("rolling_discharge", "_TrackingActions.DischargeForRollingAction()", false, "BUTTON_DischargeForRolling")
  @Html.ImageButton("rolling_undischarge", "_TrackingActions.UndischargeFromMillAction()", false, "BUTTON_UndischargeFromRolling")
  @Html.ImageButton("tracking", "_TrackingActions.ChargeMaterialOnFurnaceExitPopup()", false, "BUTTON_ChargeMaterialOnFurnaceExit")
}

<link rel="stylesheet" href="~/bundles/css/Module/Visualization.css" />
<link rel="stylesheet" href="~/bundles/css/Module/Measurements.css" />

@{
  Func<int, IHtmlContent> DoubleArea =
  @<div class="area" data-area="@item">
    <div class="zone_name">@ResxHelper.GetResxAreaText(item)</div>
    <div class="zone zone_double" id="@item" data-type="double">
      <div class="zone_header">
        <div class="materials_number">0</div>
        <div class="signals"></div>
        <div class="right_status"></div>
      </div>
      <div class="zone_body">
        <div class="points_area points_space-between zone_top">
          <span class="point_icon roll-icon" role="img"></span>
          <span class="point_icon roll-icon" role="img"></span>
          <span class="point_icon roll-icon" role="img"></span>
        </div>
        <div class="materials_area materials"></div>
        <div class="points_area points_space-between zone_bottom">
          <span class="point_icon roll-icon" role="img"></span>
          <span class="point_icon roll-icon" role="img"></span>
          <span class="point_icon roll-icon" role="img"></span>
        </div>
      </div>
    </div>
  </div>;

    Func<int, IHtmlContent> MultiArea =
    @<div class="area" data-area="@item">
      <div class="zone_name cursor-pointer" id="@item" onclick="GoToMaterialsInArea(this)">@ResxHelper.GetResxAreaText(item)</div>
      <div class="zone zone_multi" id="@item" data-type="multi">
        <div class="zone_header">
          <div class="materials_number">0</div>
          <div class="signals"></div>
          <div class="right_status"></div>
        </div>
        <div class="zone_body materials multiMaterials_order">
        </div>
      </div>
    </div>;

    Func<int, IHtmlContent> DoubleAreaWithSignals =
    @<div class="area" data-area="@item">
      <div class="zone_name">@ResxHelper.GetResxAreaText(item)</div>
      <div class="zone zone_double" id="@item" data-type="double">
        <div class="zone_header">
          <div class="materials_number">0</div>
          <div class="signals">
            <span class="signal-icon production-icon" title="@VM_Resources.NAME_Production"></span>
            <span class="signal-icon adjust-icon" title="@VM_Resources.NAME_Adjusting"></span>
            <span class="signal-icon sim-icon" title="@VM_Resources.NAME_Simulation"></span>
            <span class="signal-icon start-icon" title="@VM_Resources.NAME_StartedInGroup"></span>
          </div>
          <div class="right_status"></div>
        </div>
        <div class="zone_body">
          <div class="points_area points_space-between zone_top">
            <span class="point_icon roll-icon" role="img"></span>
            <span class="point_icon roll-icon" role="img"></span>
            <span class="point_icon roll-icon" role="img"></span>
          </div>
          <div class="materials_area materials"></div>
          <div class="points_area points_space-between zone_bottom">
            <span class="point_icon roll-icon" role="img"></span>
            <span class="point_icon roll-icon" role="img"></span>
            <span class="point_icon roll-icon" role="img"></span>
          </div>
        </div>
      </div>
    </div>;

    Func<int, IHtmlContent> LayersArea =
    @<div class="area" data-area="@item">
      <div class="zone_name" id="@item">@ResxHelper.GetResxAreaText(item)</div>
      <div class="zone zone_layers" id="@item" data-type="layers">
        <div class="zone_body layers">
        </div>
      </div>
    </div>;
}

<div class="row tracking_container">
  <div class="material_panel col-2" id="materialPanel">
    @{
      await Html.RenderPartialAsync("~/Views/Module/PE.Lite/Visualization/_MaterialPanel.cshtml");
    }
  </div>

  <div class="col-10 tracking_visualization">
    @*<div class="text-center">GREY AREA</div>*@
    @*<div class="materials_general" id="area_general">
    </div>*@
    <div class="row">
      <div class=" tracking">

        <div class="tracking_row rightToLeft">

          @DoubleAreaWithSignals(CustomTrackingArea.BTRT_AREA.Value)

          <div class="direction_sign">
            <span class="direction-icon arrowRight-icon" role="img"></span>
          </div>

           @DoubleAreaWithSignals(CustomTrackingArea.CM_AREA.Value)

          <div class="direction_sign">
            <span class="direction-icon arrowRight-icon" role="img"></span>
          </div>
             @DoubleAreaWithSignals(CustomTrackingArea.REV_AREA.Value)
          <div class="direction_sign">
            <span class="direction-icon arrowRight-icon" role="img"></span>
          </div>

          <div class="area-wrapper">
            @MultiArea(TrackingArea.FCE_AREA.Value)
          </div>

          <div class="direction_sign">
            <span class="direction-icon arrowRight-icon" role="img"></span>
          </div>

          @MultiArea(TrackingArea.CHG_AREA.Value)

        </div>
        <div>
             <div class="triangle-bottom" style=" margin-left:750px;"></div>
        </div>

        <div class="tracking_row rightToLeft">

          @*@DoubleAreaWithSignals(TrackingArea.CB_AREA.Value)*@
          @MultiArea(CustomTrackingArea.COOL_AREA_2_S1.Value)

          <div class="direction_sign">
            <span class="direction-icon arrowLeft-icon" role="img"></span>
          </div>

          @MultiArea(CustomTrackingArea.BUND_AREA_1.Value)

          @*<div class="direction_sign">
            <span class="direction-icon arrowLeft-icon" role="img"></span>
          </div>*@
          <div class="empty-block-1"></div>

          @MultiArea(CustomTrackingArea.COOL_AREA_1.Value)

         @* <div class="direction_sign">
            <span class="direction-icon arrowLeft-icon" role="img"></span>
          </div>

          @LayersArea(TrackingArea.LAYER_AREA.Value)

          <div class="direction_sign"></div>

          @MultiArea(TrackingArea.GARRET_AREA.Value)*@

        </div>

        <div class="tracking_row rightToLeft">

          @*@DoubleAreaWithSignals(TrackingArea.PST_FM_AREA.Value)*@
          @MultiArea(CustomTrackingArea.COOL_AREA_3_S2.Value)
          <div class="direction_sign">
            <span class="direction-icon arrowLeft-icon" role="img"></span>
          </div>

         @* @DoubleAreaWithSignals(TrackingArea.ROD_AREA.Value)*@
           @MultiArea(CustomTrackingArea.BUND_AREA_2.Value)
          @*<div class="direction_sign">
            <span class="direction-icon arrowLeft-icon" role="img"></span>
          </div>

          @MultiArea(TrackingArea.TRANSPORT_AREA.Value)*@

          <div class="direction_sign"></div>

          <div class="empty-block"></div>

        </div>
        <div class ="tracking_row rightToLeft">
          @MultiArea(CustomTrackingArea.SLOW_COOL_AREA.Value)
        </div>

      </div>

      <div class="direction_sign-back">
        <div class="turning-arrow-wrapper" style="position: absolute; right: 20px; top: 165px;">
          <div class="line-horizontal"></div>
          <div class="line-vertical line-vertical-right" style="height: 110px"></div>
          <div class="line-arrow">
            <span class="arrowLeft-icon turning-arrow-triangle-left"></span>
            <div class="line-horizontal"></div>
          </div>
        </div>
      </div>

      <div class="direction_sign-back">
        <div class="turning-arrow-wrapper" style="position: absolute; right: 20px; top: 165px;">
          <div class="line-horizontal"></div>
          <div class="line-vertical line-vertical-right" style="height: 340px"></div>
          <div class="line-arrow">
            <span class="arrowLeft-icon turning-arrow-triangle-left"></span>
            <div class="line-horizontal"></div>
          </div>
        </div>
      </div>

            <div class="direction_sign-back">
                <div class="turning-arrow-wrapper" style="position: absolute; right: 20px; top: 165px;">
                    <div class="line-horizontal"></div>
                    <div class="line-vertical line-vertical-right" style="height: 480px"></div>
                    <div class="line-arrow">
                        <span class="arrowLeft-icon turning-arrow-triangle-left"></span>
                        <div class="line-horizontal"></div>
                    </div>
                </div>
            </div>

    </div>
  </div>
</div>

<script src="~/bundles/js/Module/Visualization.js" />
