@{
  Layout = "~/Views/Shared/_TabLayout.cshtml";
}

<div class="yard">
  <div class="map-actions">
    @Html.ImageButton("arrow_left", "GoToYardsList()", false, "BUTTON_back")
    @Html.ImageButton("add", "OpenAddMaterialsPopup()", false, "BUTTON_AddMaterials")
    @Html.ImageButton("endofheat", "CreateHeat()", false, "BUTTON_CreateHeat")
  </div>
  <div class="w-100 text-center">@VM_Resources.NAME_Reception</div>
  <div class="area mt-2">
    @*<div class="partial-actions py-1 mr-1">
      @Html.ImageButton("add", "OpenAddMaterialsPopup()", false, "BUTTON_AddMaterials")
      @Html.ImageButton("endofheat", "CreateHeat()", false, "BUTTON_CreateHeat")
    </div>*@
    @(
      Html.Kendo().Grid<PE.HMIWWW.ViewModel.Module.Lite.BilletYard.VM_HeatsOnYards>()
          .Name("RecepcionHeatsGrid")
          .Events(e => e.DataBound("ColorSearchedHeatRecepcion"))
          .HtmlAttributes(new { @style = "height: 680px;" })
          .NoRecords(x => x.Template(VM_Resources.GLOB_GRID_NO_DATA))
          .Sortable()
          .Filterable()
          .Scrollable()
          .Pageable(p => p
                  .Messages(m => m.Display(VM_Resources.GLOB_pagination)))
          .Columns(c =>
          {
            c.Bound(x => x.HeatName);
            c.Bound(x => x.HeatId).Visible(false);
            c.Bound(x => x.YardId).Visible(false);
            c.Bound(x => x.NumberOfMaterials);
            c.Bound(p => p.HeatId).Sortable(false).Groupable(false).Filterable(false).Title(" ").Width(90)
            .ClientTemplate(@Html.ImageButton("scrap", "ScrapMaterials(#:HeatId#, #:NumberOfMaterials#, #:YardId#, null)").ToString() + @Html.ImageButton("edit", "EditHeatPopup(#:HeatId#)").ToString() + @Html.ImageButton("details", "OpenHeatDetailsPopup(#:HeatId#)").ToString());
          })
          .DataSource(d => d
              .Ajax()
              .ServerOperation(true)
              .PageSize(23)
              .Read(r => r.Action("GetHeatsInReception", "BilletYard"))
              )
    )
  </div>
</div>
