<div class="popup-top-actions">
  @Html.ImageButton("legend", "displayLegend($('#registerLegend'))", false, "BUTTON_Legend")
</div>

  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-6 grid-filter">
        @Html.Partial("~/Views/Module/PE.Lite/BilletYard/_RecepcionSearchGrid.cshtml")
      </div>
      <div class="k-icon k-i-arrow-60-right between-grids-arrow-center"></div>
      <div class="col-6">
        @Html.Partial("~/Views/Module/PE.Lite/BilletYard/_LocationsGrid.cshtml")
      </div>
    </div>
  </div>

  <div class="legend-window popup-legend-window" id="registerLegend">
    <div class="row m-1">
      <div class="square  square-border available"></div>
      <div class="legend">@VM_Resources.INFO_HeatFreeCapacity</div>
    </div>
    <div class="row m-1">
      <div class="square  square-border recommended"></div>
      <div class="legend">@VM_Resources.INFO_HeatFreeCapacity & @VM_Resources.INFO_ConsistentHeats</div>
    </div>
    <div class="row m-1">
      <div class="square square-border unavailable"></div>
      <div class="legend">@VM_Resources.INFO_LocationFull</div>
    </div>
  </div>

<script>
  $(document).ready(function () {
    MaterialTransfer.clear();
    MaterialTransfer.setTransferMode(_TransferModeDict.RecToLoc);
  })
</script>