@model IEnumerable<PE.HMIWWW.ViewModel.Module.Lite.Bypass.VM_ActiveBypass>

<div class="widget-body">
  <div class="widget-card">
    <div class="widget-title">
      <img class="widget-title-icon" src="~/css/Functions/Small/result_true.png" /> @VM_Resources.NAME_ActiveBypasses
    </div>
    <div class="widget-line"></div>
    <div class="widget-data-container">
          @{
      var itemIndex = 0;
      foreach (var delay in Model)
      {
        <div class="widget-data widget-data-list-el">
          <div class="widget-data-value widget-data-value-small">@Html.DisplayFor(x => delay.TimeStamp)</div>
          <div class="widget-data-value widget-data-value-large widget-data-value-lg">@Html.DisplayFor(x => delay.BypassName)</div>
          <div class="widget-data-label">@VM_Resources.NAME_OpcServerAddress</div>
          <div class="widget-data-value nowrap-text">@Html.DisplayFor(x => delay.OpcServerAddress)</div>
          <div class="widget-data-label mt-2">@VM_Resources.NAME_OpcServerName</div>
          <div class="widget-data-value nowrap-text">@Html.DisplayFor(x => delay.OpcServerName)</div>
        </div>
        if (itemIndex < Model.Count() - 1)
        {
          <div class="widget-line"></div>
        }
        itemIndex++;
      }
    }

    </div>


  </div>
</div>
