@model PE.HMIWWW.ViewModel.Module.Lite.WorkOrder.VM_WorkOrderOverview

<div class="row">
<div class="col-4 p-0 pt-3">
    <div class="container-fluid">
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.ProductCatalogueName)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.ProductCatalogueName)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.Type)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.Type)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.ProductCatalogueDescription)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.ProductCatalogueDescription)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.Shape)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.Shape)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.StdProductivity)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.StdProductivity)
            </div>
        </div>
    </div>
</div>
<div class="col-4 p-0 pt-3">
    <div class="container-fluid">
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.Length)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.Length)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.LengthMin)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.LengthMin)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.LengthMax)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.LengthMax)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.Width)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.Width)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.WidthMin)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.WidthMin)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.WidthMax)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.WidthMax)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.OvalityMax)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.OvalityMax)
            </div>
        </div>
    </div>
</div>
<div class="col-4 p-0 pt-3">
    <div class="container-fluid">
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.Thickness)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.Thickness)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.ThicknessMin)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.ThicknessMin)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.ThicknessMax)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.ThicknessMax)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.Weight)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.Weight)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.WeightMin)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.WeightMin)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                @Html.LabelFor(m => m.PC.WeightMax)
            </div>
            <div class="col">
                @Html.DisplayFor(m => m.PC.WeightMax)
            </div>
        </div>
    </div>
</div>
</div>