@model PE.HMIWWW.ViewModel.Module.Lite.WorkOrder.VM_WorkOrderSummary

<div class="row">
  <div class="col">
    <div class="form-group row">
      <div class="col-4 text-right">
      </div>
      <div class="col-1 text-center">
        @Html.Label(VM_Resources.LABEL_Materials)
      </div>
      <div class="col-2 text-center">
        @Html.Label(VM_Resources.NAME_Weight + " [" + VM_Resources.UNIT_Weight + "]")
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group row">
      <div class="col-4 text-right">
        <label>@VM_Resources.NAME_NumberOfEntryPieces</label>
      </div>
      <div class="col-1 text-left">
        @Html.DisplayFor(m => m.MaterialsPlanned)
      </div>
      <div class="col-2 text-left">
        @Html.DisplayFor(m => m.MaterialsWeight)
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group row">
      <div class="col-4 text-right">
        <label>@VM_Resources.NAME_Scraps</label>
      </div>
      <div class="col-1 text-left">
        @Html.DisplayFor(m => m.MaterialsScrapped)
      </div>
      <div class="col-2 text-left">
        @Html.DisplayFor(m => m.MaterialsScrappedWeight)
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group row">
      <div class="col-4 text-right">
        <label>@VM_Resources.NAME_Rejects</label>
      </div>
      <div class="col-1 text-left">
        @Html.DisplayFor(m => m.MaterialsRejected)
      </div>
      <div class="col-2 text-left">
        @Html.DisplayFor(m => m.MaterialsRejectedWeight)
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group row">
      <div class="col-4 text-right">
        <label>@VM_Resources.NAME_Products</label>
      </div>
      <div class="col-1 text-left">
        @Html.DisplayFor(m => m.ProductsNumber)
      </div>
      <div class="col-2 text-left">
        @Html.DisplayFor(m => m.ProductsWeight)
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group row">
      <div class="col-4 text-right">
        <label>@VM_Resources.NAME_LossWeight</label>
      </div>
      <div class="col-1 text-left">
        -
      </div>
      <div class="col-2 text-left">
        @Html.DisplayFor(m => m.MaterialsLossWeight)
      </div>
    </div>
  </div>
</div>
